<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madada Haath</title>

    <!-- materialize icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="nav-wraper transparent">
        <div class="container">
            <a href="#!" class="brand-logo">Madada Haath</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="index.html">Home</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>

               
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="waves-effect waves-light btn ">Login</a</li>
        <li><a class="waves-effect waves-light btn">SignUp</a></li>
    </ul>

    <!-- image -->
    <div >
        <img class="corona-img responsive-img" src="./images/corona.jpg">
    </div>

   <!-- Footer -->
   
    
     
            

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Sidebar
         $(document).ready(function(){
        $('.sidenav').sidenav();
         });
               
    </script>
</body>
</html>