<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="styles.css">
    <script src="store.js" async></script>
    <style>
        #usr1{
            border: 0px;
        }
        #usr{
            color: black;
            font-size: 2em;
            text-align: center;
        }
    </style>
     <!-- materialize icons  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

     <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>
    <script src="reg.js"></script>
</head>
<body>
    <div id="loading">
        <div class="loader">Loading...</div>
    </div>         <!-- Navbar -->
      <nav class="nav-wraper transparent">
        <div class="container">
            <a href="#!" id="logo"  class="brand-logo">Madada Haath</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a class="log" href="/login">Login</a></li>
                <li><a id="sout" onclick="signout()">Sign Out</a></li>
                <li><a id="rgstr" href="/register">Signup</a></li>      
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/"><i class="fa fa-home" id="hom"></i>Home</a></li>
        <li><a id="log1" href="/login" class="waves-effect waves-light btn ">Login</a></li>
        <li><a id="sout1" onClick="signout()" class="waves-effect waves-light btn">Sign out</a></li>
        <li><a id="rgstr1" href="/register" class="waves-effect waves-light btn">SignUp</a></li>
        
    </ul>
     <!-- Available Items -->

     <section  class="container content-section">
        <p id="usr" class="section-header" name="usr">loged out</p>
        <h2 class="section-header">Food Items</h2>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Rice</span>
                <img class="shop-item-image" src="images/rice.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.30/kg</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Wheat</span>
                <img class="shop-item-image" src="images/wheat.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.44/kg</span>
                    <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Daal</span>
                <img class="shop-item-image" src="images/daal.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.68/kg</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Sugar</span>
                <img class="shop-item-image" src="images/sugar.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.42/kg</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">Vegetables</h2>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">Onion</span>
                <img class="shop-item-image" src="images/onion.jpg" height="300" width="300">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.30/kg</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Potato</span>
                <img class="shop-item-image" src="images/potato.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">Rs.25/kg</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Cart -->
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <form action="/buy" method="post">
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <input  type="text" name="p1" id="total"  value="Rs 0" readonly/>
            <input  type="text" name="p1" id="final"  value="" readonly/>
        </div>
            <input type="text" id="usr1" name="creden" value="Logged out" readonly/>
            <button class="btn btn-primary btn-purchase" type="submit">ORDER</button>
         </form>
    </section>
     <!-- jquery -->
     <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="load.js"></script>
</body>
</html>